@media only screen and (max-width: 600px) {

    body {
        background-color: rgb(90, 90, 90);
        font-family: monospace;
    }

    .header {
        width: 90%;
        border-radius: 5px;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .stats {
        width: 80%;
        border-radius: 5px;
        padding: 8px;
        padding-top: 15px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-size: 12px;
    }

    .selection {
        width: 50%;
        border-radius: 5px;
        padding: 8px;
        padding-top: 10px;
        padding-bottom: 3px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-size: 12px;
    }

    .image {
        width: 70%;
        border-radius: 5px;
        padding: 10px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: 30vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: clip;
    }

    .image img {
        height: 100%;
        border-radius: 5px;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .text {
        width: 90%;
        border-radius: 5px;
        padding: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: auto;
        font-size: 10px;
    }

    .option {
        width: 85%;
        border-radius: 5px;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-size: 10px;
        transition: .5s;
    }

    .option:hover {
        background-color: #fff;
        color: #333;
        transition: .5s;
    }

    .branchImage {
        overflow-y: hidden;
    }

    .swal2-popup,
    .swal2-toast,
    .swal2-show {
        background-color: #333 !important;
        width: 95% !important;
    }

    .modal-content {
        background-color: #333 !important;
        color: #fff;
        margin-top: 65px;
        border-radius: 5px !important;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-header {
        border-bottom: 0px solid red;
    }

    .modal-title {
        font-size: 13;
    }

    .modal-body {
        font-size: 12;
    }

    .btn-close {
        background-color: #fff !important;
        transform: scale(0.4);
        border-radius: 500px;
    }

    .menu-item {
        border: 0px solid whitesmoke;
        background-color: #3b3b3b !important;
        border-radius: 5px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        padding: 10px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        width: 70px !important;
        transition: .2s;
    }

    .menu-item:hover {
        background-color: #2b2b2b !important;
        transition: .2s;
    }

    .branch-table {
        width: 70%;
        border-radius: 5px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: auto;
        font-size: 13px;
    }

    .branch-table td{
        padding: 10px;
        vertical-align: middle;
    }

}

@media only screen and (min-width: 600px) {

    body {
        background-color: rgb(90, 90, 90);
        font-family: monospace;
    }

    .header {
        width: 30%;
        border-radius: 5px;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .stats {
        width: 20%;
        border-radius: 5px;
        padding: 8px;
        padding-top: 15px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-size: 12px;
    }

    .selection {
        width: 10%;
        border-radius: 5px;
        padding: 8px;
        padding-top: 15px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-size: 12px;
    }

    .image {
        width: 20%;
        border-radius: 5px;
        padding: 10px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: 30vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: clip;
    }

    .image img {
        height: 100%;
        border-radius: 5px;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .text {
        width: 25%;
        border-radius: 5px;
        padding: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: auto;
        font-size: 10px;
    }

    .option {
        width: 25%;
        border-radius: 5px;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-size: 10px;
        transition: .5s;
    }

    .option:hover {
        background-color: #fff;
        color: #333;
        transition: .5s;
    }

    .branchImage {
        overflow-y: hidden;
    }

    .swal2-popup,
    .swal2-toast,
    .swal2-show {
        background-color: #333 !important;
        width: 35% !important;
    }

    .modal-content {
        background-color: #333 !important;
        color: #fff;
        margin-top: 65px;
        border-radius: 5px !important;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-header {
        border-bottom: 0px solid red;
    }

    .modal-title {
        font-size: 13;
    }

    .modal-body {
        font-size: 12;
    }

    .btn-close {
        background-color: #fff !important;
        transform: scale(0.4);
        border-radius: 500px;
    }

    .menu-item {
        border: 0px solid whitesmoke;
        background-color: #3b3b3b !important;
        border-radius: 5px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        padding: 10px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        width: 70px !important;
        transition: .2s;
    }

    .menu-item:hover {
        background-color: #2b2b2b !important;
        transition: .2s;
    }

    .branch-table {
        width: 50%;
        border-radius: 5px;
        padding: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #333;
        color: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: auto;
        font-size: 10px;
    }

}